  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2024 Mi Plataforma. Todos los derechos reservados.</p>
    <a href="terminos-uso.html">Términos y condiciones de uso</a> | <a href="politicas-privacidad.html">Política de privacidad</a> | <a href="quienes-somos.html">Quienes Somos</a> | <a href="contacto.html">Contactanos</a> | <a href="terminos-reembolso.html">Política de garantias y reembolso</a> | <a
        href="faq.html">Preguntas frecuentes</a>
</footer>

<!-- Scripts -->
<script src="js/bootstrap.bundle.min.js"></script>